.top_display_container .num{

    padding: 0.2rem;
    font-size: 1.6rem;
}

.btn:hover {

    background-color: #4B75AD;

} 

.navbar a:hover {
    color: #fff;
}

.top_display_container .top_display_children a:hover {
    color: #fff;
}

.center_display a:hover {
    color: #2B3139;
}

#time_total .num:hover {
    color: #fff;
}



/* .side_menu_right a:hover {
    color: #fff;
} */







