@font-face{
    font-family: "LCD";
    src: url("../fonts/digital-7-mono.ttf") format("truetype");
  }


* {
    padding: 0;
    margin: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    background: #2B3139;
    color: #fff;
    
}

.btn {
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    background-color: #4B75AD;
    color: #fff;

}

.btn:hover {

    background-color: #6584ad;

} 

/* Navbar */

.navbar {
    background-color: #4B75AD;
    display: flex;  
    justify-content: flex-start;
    align-items: center;
}

.navbar h1 {
    padding: 0.5rem;
}

.navbar a {
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    color: #D8D8D8;
}


#btn_settings {
    margin-left: auto;
}

/* left side Menu */

.side_menu_right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;

}

.side_menu_right a {
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
}

.side_menu_right a:hover {
    color: #fff;
}

.side_menu_right div {
    padding: 20px 20px 20px 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side_menu_right .input {
    padding: 3px;
    font-size: 22px;
    width: 25%;
    background-color:#1c1c1c;
    color: #f4f4f4;
 
}

/* TOP DISPLAY*/
            
/* verhindert unterschiedlich große icons  */
.top_display_container .top_display_children i {   
    width: 1.8rem;
}

.top_display_container .top_display_children a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    font-size: 1.8rem;

    width: 1.8rem;

}

.top_display_container .top_display_children a:hover {
    color: #D8D8D8;
}

.top_display_container .num {
   font-size: 2rem;
   display: inline;
}

#time_total .num:hover {
    color: #D8D8D8;
}

.top_display_container {
    width: 100%;
    background-color: #4B75AD;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_display_children {
    padding: 0.5rem;
    flex: 1 1 auto;
}


/* Center Display */

.center_display  .num {
    font-family: LCD;
    font-size: 6rem;
 }

.center_display .center_display_children div {
     visibility: visible;
 }

.center_display {
    /* width: 80%; */
    height: 100%;

    background-color: whitesmoke;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;  
    margin-bottom: 5%; 

    color: rgb(24, 31, 31);

    line-height: 1.5; 

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.center_display div {
    margin-top: auto;
}
.center_display .btn {
    margin-top: auto;
    justify-self: flex-end;
    padding: 1.2rem;
}

.center_display a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #2B3139;
}

.center_display a:hover {
    color: #555a60;
}

#center_display_label {
    text-align: left;
    margin: 2rem 3rem;
    font-size: 2.5rem;
}

#rep_count_current .label, 
#rep_count_current .count {
    display: inline;
    padding: 0.2rem;
}

#rep_count_current .label {
    font-style: italic;
}
